.calculator{
    width: 400px;
    height: 600px;
    background:gray;
    margin-left:555px ;
}

#screen{
    width: 80%;
    margin-left: 39px;
    height: 42px;
    margin-top: 30px;
    pointer-events: none;
}

.btn{
    width: 60px;
    height: 45px;
    margin-left: 30px;
    margin-top: 30px;
    background: yellow;
}